<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1372, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Spotify Analysis Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!--Sidebar-->
        <div class="sidebar">

            <h1 class="sidebar-title">My Spotify Wrapped:<br>2014 - 2024</h1>

            <NavBar>
                <ul>
                    <li><a href="#section1">Top Everything</a></li>
                    <li><a href="#section2">Yearly Summary</a></li>
                    <li><a href="#section3">Regional Trends</a></li>
                    <li><a href="#section4">Sentiment Insight</a></li>
                    <li><a href="#section5">Genre & Mood</a></li>
                </ul>
            </NavBar>

            <!-- Footer Section -->
            <footer class="sidebar-footer">
                <p>
                    <a href="https://github.com/asyikin22/Python-for-Data-Analysis/tree/main/PROJECTS/Spotify" target="_blank">GitHub</a> |
                    <a href="https://open.spotify.com/" target="_blank">Spotify</a> |
                    <a href="https://genius.com/" target="_blank">Genius</a> 
                </p>
                <br>
                <p>&copy; 2024 Asyikin</p>
            </footer>
        </div>

        <!--Main content-->
        <div class="content">
            <div id="section1" class="section">
                <h1>Top 15 Artists, Songs, and Albums: Cumulative Data from 2014 to 2024</h1>
                <div id="section1-container">
                    <iframe src="{{ url_for('static', filename='charts/section1-artist.html') }}"></iframe>
                    <iframe src="{{ url_for('static', filename='charts/section1-album.html') }}"></iframe>
                    <iframe src="{{ url_for('static', filename='charts/section1-song.html') }}"></iframe>
                </div>
                <p>This analysis showcases the top 15 most-played artists, albums, and songs from my personal Spotify data, based on play counts. 
                    It highlights the artists, albums, and songs that <strong> dominate my listening habits</strong>, providing a clear view of my most frequent choices on the platform. 
                    These charts offer valuable insights into the music I enjoy the most, reflecting the tracks and artists I return to again and again.</p>
            </div>

            <hr>

            <div id="section2" class="section">
                <h1>Year-by-Year Analysis: Total Songs and Duration Played (2014 - 2024)</h1>
                <iframe class="first-iframe" src="{{ url_for('static', filename='charts/section2-duration.html') }}"></iframe>
                <p>This visualization presents a comprehensive <strong> yearly summary of the total number of songs played and the total duration (in minutes) of playback</strong>, 
                    spanning from 2014 to 2024. The bar chart displays the total number of songs played each year,
                    while the line chart represents the total duration of music played annually. 
                    Together, they offer insights into both the volume and length of my music consumption over time.</p>
                <iframe class="first-iframe" src="/dash1/" width="100%" style="border:none;"></iframe>
                <p>The dropdown charts let you select and explore the top artists and songs for each year, <strong>based on their playback frequency from 2014 to 2024.</strong></p>
            </div>

            <hr>

            <div id="section3" class="section">
                <h1>Geographic Breakdown of Spotify Usage</h1>
                <div id='section3-container'>
                    <iframe src="{{ url_for('static', filename='charts/section3-geo.html') }}"></iframe>
                    <iframe src="dash2/" style="border:none;"></iframe>
                </div>

                    <br>

                <p>This bubble chart displays the <strong>total Spotify usage across different countries</strong>, measured by the total number of minutes and songs played. 
                    The scatter plot displays countries as bubbles, with the size of each bubble representing the total number of songs played in that country, and the color intensity corresponding to the same metric. 
                    The chart allows for a clear comparison of Spotify usage based on both the volume of songs played and the duration of listening, offering insights into global listening habits.
                </p>

                    <br>

                <p>The dropdown chart lets you explore the <strong>breakdown of the top 15 songs I played across different countries</strong></p>
            </div>
                
            <hr>

            <div id="section4" class="section">
                <h1>Sentiment Analysis of Song Lyrics Using VADER and NLTK</h1>
                <div id='section4-distr-score'>
                    <iframe src="{{ url_for('static', filename='charts/sentimentDistr.png') }}"></iframe>
                    <iframe src="{{ url_for('static', filename='charts/sentimentScore.html') }}"></iframe>
                </div>

                    <br>

                <p><strong><a href="https://www.nltk.org/" target="_blank">NLTK (Natural Language Toolkit)</a></strong> is a comprehensive library for working with human language data (text). 
                    It includes tools for text processing, classification, tokenization, parsing and more.</p>

                    <br>

                <p><strong><a href="https://github.com/cjhutto/vaderSentiment" target="_blank">VADER (Valence Aware Dictionary and sEntiment Reasoner)</a></strong> is a specific sentiment analysis tool included within the NLTK library. 
                    It is used to analyze the sentiment of text (whether it's positive, negative, or neutral) and provides a sentiment score.<p>

                    <br>

                <p><strong>The stacked bar chart</strong> illustrates the distribution of song sentiments across different years. 
                    Each bar represents a year, with the segments within the bar showing the breakdown of sentiment labels such as <strong>positive, negative, neutral </strong>. 
                    The chart provides a visual overview of how the sentiment associated with songs has evolved over time.</p>
                
                    <br>

                <p>The <strong>bubble chart</strong> visualizes the average sentiment scores of songs by different artists from 2014 to 2024. 
                    The chart plots the sentiment scores against the years, with each bubble representing an artist. 
                    The size of the bubble indicates the number of songs released by the artist in a given year, and the color corresponds to each artist. 
                    This allows for a <strong> comparative view of both the sentiment trends and the volume of songs released by each artist over the years</strong>.</p>

                    <br>

                    <p><i>Note: This data focuses specifically on the top 15 songs listened to each year between 2014 and 2024.</i></p>

                    <br>
                
                <div id='section4-PosNeg'>
                    <iframe src="{{ url_for('static', filename='charts/negativeScore.html') }}"></iframe>
                    <iframe src="{{ url_for('static', filename='charts/positiveScore.html') }}"></iframe>
                </div>

                    <br>

                <p>These bar charts display the <strong> top 15 songs with the strongest sentiment scores </strong>, both negative and positive. 
                    The sentiment scores are plotted on the x-axis, with <strong>negative values indicating negative sentiment and positive values reflecting positive sentiment</strong>. 
                    The chart uses a <strong>red color scale for negative sentiment</strong>, where darker shades represent stronger negativity, and a <strong>green color scale for positive sentiment</strong>, 
                    where darker shades represent stronger positivity. This visualization highlights the songs with the most pronounced emotional tones, whether negative or positive.</p>
                
                    <br>
                
                <p><strong>Positive Sentiment:</strong> When a song's lyrics convey positive emotions like happiness, love, or hope, it results in a positive sentiment score.</p>
                <p><strong>Negative Sentiment:</strong> When the lyrics express negative emotions such as sadness, anger, or frustration, it leads to a negative sentiment score.</p>
            </div>

            <hr>

            <div id="section5" class="section genre-mood-container">
                <h1>Genre and Mood Asociated to Top Songs</h1>

                <div id='section5-genre-mood-distr'>
                    <iframe src="{{ url_for('static', filename='charts/genre_distr.html') }}"></iframe>
                    <iframe src="{{ url_for('static', filename='charts/genre_year.html') }}"></iframe>
                    <iframe src="{{ url_for('static', filename='charts/genre_trend.html') }}"></iframe>  
                </div>
                <p><strong>The pie chart shows the distribution of music genres</strong> in my song collections.
                    Each slice represents a genre, and the size of the slice indicates its proportion.</p>
                    
                    <br>
                
                <p><strong>The stacked bar chart displays the distribution of genres over time</strong> by summing the play counts for each genre per year. 
                    The x-axis represents the years, and the y-axis shows the total play count for each genre. </p>
                    
                        <br>
                    
                <p><strong>The line chart illustrates the popularity of genres over time</strong> by plotting the total play counts for each genre per year. 
                    The x-axis represents the years, while the y-axis shows the total play count for each genre. </p>

                        <br>

                <div id='section5-heatmap-pop'>
                    <iframe src="{{ url_for('static', filename='charts/heatmap.html') }}"></iframe>
                    <iframe src="{{ url_for('static', filename='charts/mood_year.html') }}"></iframe>
                </div>

                    <br>

                <p><strong>The first chart presents a heatmap visualizing the relationship between genres and moods</strong>, with total play counts as the measure. 
                    The rows correspond to genres, and the columns correspond to moods. The intensity of the color indicates the total play count for each genre-mood combination.</p>

                    <br>
                
                    <p><strong>The stacked bar chart displays the distribution of moods over time</strong>, showing total play counts for each mood across years from 2014 to 2024. 
                        Each bar represents a year, and the segments within the bars represent different moods. 
                        The size of each segment corresponds to the total play count for that mood in a given year.</p>
                    
                        <br>
        
                <iframe src="{{ url_for('static', filename='charts/song_ranking_genre.html') }}" style="width: 100%; height: 500px"></iframe>
                        
                <p>The above <strong>scatter plot shows an interactive scatter plot of song rankings by genre</strong>. Each point represents a song, with the x-axis displaying the year and the y-axis showing the play count. 
                    The songs are grouped by genre, with separate panels (facets) for each genre, arranged in up to three columns. The hover feature displays the song name for each point. 
                    The chart helps to visualize how songs' play counts have evolved over time, broken down by genre.</p>

                    <br>
                    <br>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>