* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #333;
    color: white;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 350px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    width: calc(100% - 300px);
}
.content p {
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
}

hr {
    border: none;
    height: 5px;
    background-color: black;
    margin: 30px 0;
}

.section {
    margin-bottom: 5px;
}
.section iframe {
    width: 100%;
    height: 650px;
    border: none;
}

h1 {
    margin-bottom: 20px;
}

#section1-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#section1-container iframe {
    height: 500px;
    border: none;
}

/* Apply width to the first two iframes */
#section1-container iframe:nth-child(1),
#section1-container iframe:nth-child(2) {
    width: 30%;
}

/* Apply width to the third iframe to make it 1.5 times larger */
#section1-container iframe:nth-child(3) {
    width: 40%;
}

#section3 iframe {
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    border: none;
}

#section3-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#section3-container iframe {
    border: none;
    height: 450px;
}

#section3-container iframe:first-child {
    width: 40%;
}
#section3-container iframe:last-child {
    width: 60%;
}

#section4-distr-score {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#section4-distr-score iframe {
    border: none;
    height: 500px;
}

#section4-distr-score iframe:first-child {
    width: 30%;
}

#section4-distr-score iframe:last-child {
    width: 70%;
}

#section4-PosNeg {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

#section4-PosNeg iframe {
    width: 50%;
    height: 450px;
    border: none;
}

.lda-container {
    position: relative;
    height: 900px;
}

.lda-iframe {
    width: 100%;
    height: 50%;
    border: none;
}

.lda-iframe:nth-child(2) {
    height: 50%;
}

/* Apply Flexbox to the container */
#section5-lda {
    display: flex;
}

#section5-lda iframe {
    border: none;
    height: 450px;
}

#section5-lda iframe:first-child {
    width: 30%;
}

#section5-lda iframe:last-child {
    width: 70%;
}
